.formcontato{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    align-items: center;
}

.formcontato__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .formcontato--esquerda{
        display: none;
    }

    .formcontato__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.8rem;
        padding: 1rem;
            h2{
                margin-bottom: 1.5rem;
            }
            h3,
            h4{
                
                margin-top: 0%;
                text-align: center;
            }

            form{
                width: 80vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
               
                input,
                textarea{
                    width: 80%;
                    height: 60px;
                    border-style: none;
                    border-bottom: solid RGB(205, 207, 209);
                    border-radius: 0.5rem;
                }

                input:focus,
                textarea {
                    outline: none;
                  }

                textarea{
                    height: 100px;
                    padding-top: 2rem;
                    padding-left: 1rem;
                    resize: none;
                }

                button{
                    background-color:RGB(42, 122, 228);
                    border: none;
                    color: white;
                    padding: 1rem;
                    font-size: 1rem;
                    border-radius: 1rem;
                    
                    margin-left: 2.5rem;
                    margin-top: 0.5rem;
                    
                }
                
    }
}

/* @media para tablets */

@media(min-width:768px){

    .formcontato__contacto{
        .formcontato__text{
            form{
                button{
                    margin-left: 5rem;
                }
            }
    
        }

    }
    
   
}

/* @media desktop */

@media(min-width: 1200px){

    .formcontato__contacto{
        flex-direction: row;
        
        

        .formcontato--esquerda{
            display: block;
            margin-left: 1rem;
        }
        .formcontato__text{
            align-self: self-end;
            margin-left: 1rem;
            
            form{
                width: 60vw;
                button{
                    margin-left: 10rem;
                }
            }
    
        }

    }
    
   
}