/* cabecera */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

header{
    display: flex;
    justify-content: space-around;
    width: 50%;


    .logo{
        width:20%;
    }

    .menu__title{
        width: 60%;
        font-size: 1em;
    }

    
}

.menu__list__item__contato{
    font-weight: 700;
    font-size: 0.8em;
    margin-right: 20px;
}

.menu__list{
    display: none;
}





/* @media para tablets */

@media(min-width:768px){
 
/* cabecera */
.menu{
    width: 100%;
    margin: 0%;
    justify-content:baseline;

    
    header{
        width: 30%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .logo{
        width: 2rem;
    }
    .menu__list__item__contato{
        font-weight: 700;
        font-size: 1em;
        margin-right: 2rem;
        
    }
    
}
}

/* @media desktop */

@media(min-width: 1200px) {
    .tudo{
        width: 98vw;
        overflow-x: hidden;
    }

    /* cabecera */

    .menu{
        margin-top: 1.5rem;
        justify-content: center;
        gap: 20%;
        font-size: 1rem;

        .menu__list{
            display: flex;
            gap: 1rem;
        }

        ul li:nth-child(6){
            font-weight: 700;
        }

        .menu__list__item__contato{
            display: none;
            
        }
    }

    
    
}
